.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

html {
    margin:0;
    padding:0;
}

body {
    background-color: light-gray;
    margin:0;
    padding:0;
}

img:hover {
    opacity:0.5;
}

.card {
    width: 300px;
}

.navbar {
    color: #ffffff;
}

.row {
    align-items: right;
    margin-left: 200px;
}

.footer {
    color: #ffffff;
}
