.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

html {
    margin:0;
    padding:0;
}

body {
    background-color: #f3f4f6;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor:pointer;
}

a.active {
    text-decoration:underline;
}

/* img:hover {
    opacity:0.5;
} */

.page_header {
   text-align: center;
   color: #ffffff;
   
}

.save_button {
    text-align: right;
}

.card {
    width: 300px;
}

.journalcard {
    width: 100%;
}

.affirmations {
    min-width: 400px;
}

.navbar {
    background-color: #f3f4f6;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: cornflowerblue;
    
}

.row {
    align-items: center;
    margin-left: 14%;
}

.footer {
    color: #ffffff;
}

.habit th {
background-color: #dcb7e2;
color: white;
}





/* .habit-card {
    margin-left:3%;
} */

/* .habit table th tr:hover {
background-color: lightblue;
} */